.show-bo-loc {
  .ant-modal-content {
    padding: 0;

    .ant-modal-header {
      padding: 17px 27px;
      border-bottom: 1px solid #e0e6ed;

      .ant-modal-title {
        font-family: "Manrope";
        font-weight: 600;
      }
    }
  }
}
